<!-- Início do header -->
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand"><b>Context Manager</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a [routerLink]="['/baselayers']"><i class="fa  fa-map"></i> Baselayers</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/contexts']"><i class="fa fa-book"></i> Contextos</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/companies']"><i class="fa fa-building"></i> Empresas</a>
            <li routerLinkActive="active"><a [routerLink]="['/plugins']"><i class="fa fa-gears"></i> Plugins</a>
            <li routerLinkActive="active"><a [routerLink]="['/users']"><i class="fa fa-user-circle-o"></i> Usuários</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/about']"><i class="fa fa-info-circle"></i> Sobre</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
</header>
<!-- Fim do header -->