<div class="wrapper">

  <ctx-header></ctx-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <ctx-snackbar></ctx-snackbar>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <img height="30px" src="https://s3.amazonaws.com/coffeybr/atlas/company/leapmind/img/logo_tit.png"> &nbsp; | &nbsp; <strong>Context Manager</strong> 
    </div>
  </footer>
</div>
