<ctx-confirm></ctx-confirm>
<div class="place-info-box" [@userAppeared]="userstate" title="{{user.name}}">
    <div class="place-info-box-content">
        <div>
            <p class="place-info-box-text">{{user.name}}
                <span class="pull-right">
                    <a [routerLink]="['/user-detail', user.id]" class="ctx-icon-button" title="Editar"><i class="fa fa-pencil"></i></a>
                    &nbsp;
                    <a (click)="delete(user.id, user.name)" class="ctx-icon-button" title="Remover"><i class="fa fa-trash"></i></a>
                </span>
            </p>
        </div>
        <div>
            <p class="place-info-box-attrs">{{user.company.name}}
                <span class="pull-right">{{user.email}}</span>
            </p>
        </div>
        <div>
            <p class="place-info-box-attrs">
                {{user.login}}
                <span *ngIf="user.active" class="user-active pull-right">{{user.active?"Ativo":""}}</span>
                <span *ngIf="!user.active" class="user-inactive pull-right">{{!user.active?"Inativo":""}}</span>
            </p>
        </div>
  </div>
</div>