<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header"></section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Context Manager</h1>
    <p></p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/baselayers']">Baselayers</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/company']">Empresas</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/context']">Contextos</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/plugins']">Plugins</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/user']">Usuários</a>
    
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
